<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationUI1"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userLandscape"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplicationUI1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name="SpiroMeterActivity"/>
            <activity android:name=".ControllerExplanationSelectionActivity"/>
            <activity android:name=".PiropiroActivity"/>
            <activity android:name=".ControllerSelectionActivity"/>
            <activity android:name="ExplanationActivity"/>

            <activity android:name=".GameVideo11Activity"/>
            <activity android:name=".GameVideo12Activity"/>
            <activity android:name=".GameVideo13Activity"/>
            <activity android:name=".GameVideo21Activity"/>
            <activity android:name=".GameVideo22Activity"/>
            <activity android:name=".GameVideo23Activity"/>
            <activity android:name=".GameSelection11Activity"/>
            <activity android:name=".GameSelection12Activity"/>
            <activity android:name=".GameSelection13Activity"/>
            <activity android:name=".GameSelection21Activity"/>
            <activity android:name=".GameSelection22Activity"/>
            <activity android:name=".GameSelection23Activity"/>
            <activity android:name=".GamePlay11Activity"/>
            <activity android:name=".GamePlay12Activity"/>
            <activity android:name=".GamePlay13Activity"/>
            <activity android:name=".GamePlay21Activity"/>
            <activity android:name=".GamePlay22Activity"/>
            <activity android:name=".GamePlay23Activity"/>
            <activity android:name=".RuleExplanation11Activity"/>
            <activity android:name=".RuleExplanation12Activity"/>
            <activity android:name=".RuleExplanation13Activity"/>
            <activity android:name=".RuleExplanation21Activity"/>
            <activity android:name=".RuleExplanation22Activity"/>
            <activity android:name=".RuleExplanation23Activity"/>
    </application>

</manifest>