<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationUI1"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userLandscape"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplicationUI1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name="SpirometerActivity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".HowManyControllerSelection"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".ControllerExplanationSelectionActivity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".PiropiroActivity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".ControllerSelectionActivity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name="ExplanationActivity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".PiropiroGameSelection"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".SpirometerGameSelection"
                      android:screenOrientation="userLandscape"/>

            <activity android:name=".GameVideo11Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameVideo12Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameVideo13Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameVideo21Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameVideo22Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameVideo23Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection11Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection12Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection13Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection21Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection22Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GameSelection23Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay11Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay12Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay13Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay21Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay22Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".GamePlay23Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation11Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation12Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation13Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation21Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation22Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".RuleExplanation23Activity"
                      android:screenOrientation="userLandscape"/>
            <activity android:name=".ui.theme.ActivityEnd"
                      android:screenOrientation="userLandscape"/>
    </application>

</manifest>